<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "560936"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Allstate Agent</name>

    <description>
        Allstate Agent App
    </description>

    <author href="http://www.allstate.com" email="shugh@allstate.com">
        Stephen Hughes
    </author>

</widget>
